body {
    background: #888888;
}

.verticalLine {
    background: url('../img/pixel.gif') repeat-y top center;
    /*background: #f00;*/
}

.horizontalLine {
    background: url('../img/pixel.gif') repeat-x center left;
    /*background: #0f0;*/
}

td {
    font-size: 0.9em;
    text-align: center;
    min-width: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    display: table-cell;
}

.node {
    font-size: 1.1em;
}
.node_key {
    font-size: 1em;
}